@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-skpyu3');
	src:url('fonts/icomoon.eot?#iefix-skpyu3') format('embedded-opentype'),
		url('fonts/icomoon.woff?-skpyu3') format('woff'),
		url('fonts/icomoon.ttf?-skpyu3') format('truetype'),
		url('fonts/icomoon.svg?-skpyu3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
	content: "\e616";
}

.icon-minus_circle:before {
	content: "\e610";
}

.icon-plus_circle:before {
	content: "\e611";
}

.icon-manya:before {
	content: "\e609";
}

.icon-arrow_left:before {
	content: "\e605";
}

.icon-arrow_right:before {
	content: "\e606";
}

.icon-tri_down:before {
	content: "\e602";
}

.icon-menu:before {
	content: "\e600";
}

.icon-up:before {
	content: "\e607";
}

.icon-trash:before {
	content: "\e615";
}

.icon-edit:before {
	content: "\e614";
}

.icon-notice:before {
	content: "\e617";
}

.icon-keyboard-arrow-up:before {
	content: "\e60f";
}

.icon-social-twitter:before {
	content: "\e60c";
}

.icon-social-facebook:before {
	content: "\e60b";
}

.icon-social-skype:before {
	content: "\e60a";
}

.icon-social-linkedin:before {
	content: "\e608";
}

.icon-cross:before {
	content: "\e601";
}

.icon-chevron-thin-left:before {
	content: "\e604";
}

.icon-chevron-thin-right:before {
	content: "\e603";
}

.icon-chevron-thin-up3:before {
	content: "\e612";
}

.icon-chevron-thin-down:before {
	content: "\e613";
}

.icon-chevron-thin-up2:before {
	content: "\e60e";
}

.icon-chevron-thin-up:before {
	content: "\e60d";
}

