@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-2wrfpu');
	src:url('fonts/icomoon.eot?#iefix-2wrfpu') format('embedded-opentype'),
		url('fonts/icomoon.woff?-2wrfpu') format('woff'),
		url('fonts/icomoon.ttf?-2wrfpu') format('truetype'),
		url('fonts/icomoon.svg?-2wrfpu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-music:before {
	content: "\f001";
}
.icomoon-play:before {
	content: "\f04b";
}
.icomoon-twitter:before {
	content: "\f099";
}
.icomoon-facebook:before {
	content: "\f09a";
}
.icomoon-google-plus:before {
	content: "\f0d5";
}
.icomoon-play-circle:before {
	content: "\f144";
}
.icomoon-youtube-play:before {
	content: "\f16a";
}
