/* FONTS */

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('fonts/helveticaneue-light.eot');
    src: url('fonts/helveticaneue-light.eot') format('embedded-opentype'),
        url('fonts/helveticaneue-light.woff') format('woff'),
        url('fonts/helveticaneue-light.ttf') format('truetype'),
        url('fonts/helveticaneue-light.svg#HelveticaNeueLight') format('svg');
}

@font-face {
    font-family: 'helvetica_neuebold';
    src: url('fonts/helveticabold-webfont.eot');
    src: url('fonts/helveticabold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/helveticabold-webfont.woff') format('woff'),
        url('fonts/helveticabold-webfont.ttf') format('truetype'),
        url('fonts/helveticabold-webfont.svg#helvetica_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Conv_vevey';
    src: url('fonts/vevey.eot');
    src: local('☺'), url('fonts/vevey.woff') format('woff'), url('fonts/vevey.ttf') format('truetype'), url('fonts/vevey.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_nouvelle_vague_final';
    src: url('fonts/nouvelle_vague_final.eot');
    src: local('☺'), url('fonts/nouvelle_vague_final.woff') format('woff'), url('fonts/nouvelle_vague_final.ttf') format('truetype'), url('fonts/nouvelle_vague_final.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fVevey{font-family: 'Conv_vevey', sans-serif; font-weight: normal;}
.fHelvetica{font-family: 'HelveticaNeueLight', sans-serif; font-weight: normal;}
.fNouvelle{font-family: 'Conv_nouvelle_vague_final', sans-serif; font-weight: normal;}

/* RESET */
* { padding: 0; margin: 0; }
html, body, div, span, a, img, h1, h2, p, ul, li {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    list-style: none;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
svg:not(:root) {
    overflow: hidden;
}
input, textarea{

    -webkit-appearance:none;
    -webkit-appearance:caret;
    -webkit-border-radius: 0;
}
::-webkit-input-placeholder {color: #000;}
:-moz-placeholder {color: #000;}
::-moz-placeholder {color: #000;}
:-ms-input-placeholder { color: #000;}

a[href^=tel]{color:inherit;text-decoration:none;}
input{-webkit-user-select: auto;}
img { -ms-interpolation-mode: bicubic;}
:link, :hover, :active, :focus, :visited { outline: 0; }
::-webkit-selection { color: #fff; background: #ccc; }
::-moz-selection { color: #fff; background: #ccc; }
::selection { color: #fff; background: #ccc; }
textarea, input[type="text"], input[type="number"], input[type="email"] {-webkit-appearance: none;}
.left{float: left;}
.right{float: right;}
.align_left{text-align: left;}
.align_right{text-align: right;}
.align_center{text-align: center;}
.w_display-inline{font-size: 0;}
.vertical_top{vertical-align: top !important;}
.vertical_middle{vertical-align: middle;}
.vertical_bottom{vertical-align: bottom;}
.margin_left_10{margin-left: 10px;}
.margin_bottom_0{margin-bottom: 0px;}

.clearfix:after{content:""; display:table; clear:both;}
.transition{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.transition_opacity{
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0); 
}
.transition_top{
    -webkit-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    -ms-transition: top 0.3s ease;
    transition: top 0.3s ease;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0); 
}
.transition_color{
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.transition_border_color{
    -webkit-transition: border-color 0.3s ease;
    -moz-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    -ms-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
}
.transition_bg-color{
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

/* GENERALES */

body{ background-color: #fff;}
body, .input, .textarea, .input_row, p, li, label, a{font:17px/1.45em 'HelveticaNeueLight', Helvetica, Arial, sans-serif; color: #000; font-weight: 100;
                                                     /* Better Font Rendering =========== */
                                                     -webkit-font-smoothing: antialiased;
                                                     -moz-osx-font-smoothing: grayscale;
}
.fBig p, p.pBig{font-size: 19px; line-height: 1.8em;}

a:hover{color: #0c3c7a;}
p{margin-bottom: 10px;}
.label, label{cursor: pointer;}
p strong{font-size: 1.1em; font-weight: 600; }
h2{font-size: 31px; font-weight: 100; margin-bottom: 30px;}
h3{font-size: 20px; font-weight: 600; margin-bottom: 10px;}
.display-table{display: table; width: 100%; height: 100%;}
.display-table-cell{display: table-cell; vertical-align: middle; }
.width_full{width: 100% !important;}
.height_full{height: 100% !important;}
.display-inline{display: inline-block !important; *display: inline; zoom: 1; vertical-align: middle;}
.container{max-width: 1360px; margin: 0 auto;}
.container_small{max-width: 1120px; margin: 0 auto;}
.helper{display: inline-block;vertical-align: middle;height:100%; width: 0;}
.wide{width: 100%;}
.color_blanco{color: #fff;}
.color_blanco a, .bodi a{color: #fff; border-bottom: 1px solid #fff;
                         -webkit-transition: border-bottom-color 0.35s ease;
                         -moz-transition: border-bottom-color 0.35s ease;
                         -o-transition: border-bottom-color 0.35s ease;
                         -ms-transition: border-bottom-color 0.35s ease;
                         transition: border-bottom-color 0.35s ease;      
}
.color_blanco a:hover, .bodi a:hover{border-bottom-color: transparent;}
.background_cover{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* BOTONES */

.btn{cursor: pointer; display: inline-block; border: none; position: relative; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.btn_circle_down{width: 44px;height: 44px; line-height: 45px; color: #fff; font-size: 23px; text-align: center;background-color: rgba(0,0,0,0.6);
                 -webkit-border-radius: 3px;
                 -moz-border-radius: 3px;
                 border-radius: 3px;
                 -webkit-transition: all 0.35s ease;
                 -moz-transition: all 0.35s ease;
                 -o-transition: all 0.35s ease;
                 -ms-transition: all 0.35s ease;
                 transition: all 0.35s ease;

}

.btn_circle_down:hover{color: #010101; background-color: #c3c3c3;}

.btn_circle_down.border_blue{border: 4px solid rgba(48,110,223,0.3); }
.btn_circle_down.border_blue:hover{border-color: rgba(113,239,253,1); color: #71effd;}


.btn_circle_down.toup:hover{line-height: 34px;}

.btn_orange{background-color: #ce8228; padding: 3px; box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: all 0.35s ease;
            -moz-transition: all 0.35s ease;
            -o-transition: all 0.35s ease;
            -ms-transition: all 0.35s ease;
            transition: all 0.35s ease;
}

.btn_orange .in{display: block; border: 1px solid #fff; height: 68px; padding: 0 43px 0 52px; 
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                color: #fff; font:25px/65px "Arabien"; 
                -webkit-transition: color 0.35s ease;
                -moz-transition: color 0.35s ease;
                -o-transition: color 0.35s ease;
                -ms-transition: color 0.35s ease;
                transition: color 0.35s ease;
}
.btn_orange:hover{background-color: #c3c3c3;  color: #010101;}
.btn_orange:hover i, .btn_orange:hover .in{color: #010101;}

.btn_ico{font: 25px/1em "Conv_vevey"; letter-spacing: 1px; background-color: #fff; border: 1px solid #000; position: relative; padding-right: 63px;
         -webkit-transition: border-color 0.35s ease, background-color 0.35s ease;
         -moz-transition: border-color 0.35s ease, background-color 0.35s ease;
         -o-transition: border-color 0.35s ease, background-color 0.35s ease;
         -ms-transition: border-color 0.35s ease, background-color 0.35s ease;
         transition: border-color 0.35s ease, background-color 0.35s ease;
}
.btn_ico .bt_txt{padding: 20px 45px; text-align: center;}
.btn_ico .bt_ico{border-left: 1px solid #000; width: 63px; height: 100%; text-align: center; position: absolute; right: 0; top: 0; line-height: 63px;}
.btn_ico:hover{color: #fff; background-color: #666666; border-color: #fff;}
.btn_ico:hover .bt_ico{border-color: #fff;}



/* TOP */

.top{position: fixed; left: 0; right: 0; top: 0; width: 100%; background-color: #111; z-index: 9; max-height: 95px;}


/* MENU */

.head{}
.nav{display: inline-block; font-size: 0;}
.nav li, .nav li a{color: #999999; font-size: 16px; font: 25px/1em "Conv_vevey";}
.nav li{display: inline-block;  border-left: 1px solid #666666;}
.nav li a{display: inline-block;  letter-spacing: 1px; padding: 35px 16px; 
          -webkit-transition: color 0.35s ease, background-color 0.35s ease;
          -moz-transition: color 0.35s ease, background-color 0.35s ease;
          -o-transition: color 0.35s ease, background-color 0.35s ease;
          -ms-transition: color 0.35s ease, background-color 0.35s ease;
          transition: color 0.35s ease, background-color 0.35s ease;
}
.nav li a:hover, .nav li a.active{color: #fff; background-color: #666666;}
.nav li.lang {padding: 35px 16px; }
.nav li.lang a{padding: 0 5px;}
.nav li.lang a:hover, .nav li.lang a.active{background-color: transparent; color: #fff;}

.btn_nav_responsivo{color: #999999; display: none; width: 92px; font-size: 35px; border-left: 1px solid #666666;}
.btn_nav_responsivo:hover, .btn_nav_responsivo:active, .btn_nav_responsivo.active{color: #fff;}

/* SECTIONS */

.section_home{min-height: 100%;}
.section{position: relative; padding-top: 95px;}
html, body{height: 100%;  -webkit-overflow-scrolling: touch; }
.pattern{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: transparent url("../icons/pattern.png") 0 0 repeat; z-index: 2;}

/* SECTION 1 */

.section_1{ min-height: 550px; position: relative;  height: 100%;}
.w_banner{width: 100%; height: 100%; overflow: hidden; position: relative; z-index: 1;  }

.banner {height: 100%; width: 100%; overflow: hidden; position: relative; z-index: 1; background: #e7d0ae url("../icons/ajax-loader.gif") 50% 50% no-repeat; background-size: 32px 32px; }
.banner .item{height: 100%; width: 100%; float: left; opacity: 0; visibility: hidden; position: relative;}
.banner .container{height: 100%; width: 100%; position: relative;}


.w_banner .owl-carousel .owl-stage-outer{height: 100%;}
.w_banner .owl-carousel .owl-stage{height: 100%;}
.w_banner .owl-carousel .owl-wrapper, .w_banner .owl-carousel .owl-item{height: 100%; z-index: 1;}


.bloque_banner{position: relative;}
.banner .bloque_banner{ max-width: 675px; padding: 60px;  background-color: #fff;}

.banner .bloque_banner h3{font:  50px/1em "Conv_nouvelle_vague_final";}
.banner .bloque_banner p{color: #999999; margin-bottom: 0;}

.linea{ width: 60px; height: 3px; background-color: #000; display: inline-block; margin: 20px 0;}
.linea_blanca{ width: 60px; height: 3px; background-color: #fff; display: inline-block; margin: 20px 0;}

.w_banner a.btn_circle_down{position: absolute;
                            bottom: 40px;
                            left: 50%;
                            margin-left: -29px;
                            z-index: 4;
}


/* SECTION */
.section .container{position: relative; z-index: 3; padding-top: 50px; padding-bottom: 50px;}
.section .content .txt{}
.section .navigation{position: absolute; bottom: 70px; right: 15px; z-index: 4;}



/* SECTION 2 */

.section_2{background:#fff url("../icons/bg_section_2.png") 50% 50% repeat-x;  height: 100%;}
.section_2 h2{font: 50px/1em "Conv_nouvelle_vague_final"}
.section_2 .content .txt{padding-left: 50px;}
.section_2 .btn_ico{margin-top: 30px;}


/* SECTION 3 */

.section_3{}
.section_3 h2{font: 55px/1em "Conv_nouvelle_vague_final"; color: #fff;}
.section_3 .container{position: relative; z-index: 3;}
.section_3 .container .content{padding-top: 100px; max-width: 1200px; width: 100%;}

.w_accordion{position: relative;  max-width: 1200px; }
.w_aco_info .acco .bodi .txt p{color: #333;}
.accordion{width: 100%;}
.accordion .subtitle{font-size: 18px; margin-bottom: 25px;}
.accordion p{color: #fff0c8;}
.club{position: absolute; left: 0; top: 0; padding-top: 90px;}

.acco{margin-bottom: 10px;}
.acco .head{cursor: pointer; font: 31px/60px "Conv_vevey"; letter-spacing: 1px; color: #000; background-color: #fff; position: relative;  padding-right: 64px;
            border: 1px solid #000;
            -webkit-transition: background-color 0.6s ease;
            -moz-transition: background-color 0.6s ease;
            -o-transition: background-color 0.6s ease;
            -ms-transition: background-color 0.6s ease;
            transition: background-color 0.6s ease; 
}
.acco .head:hover, .acco .head.active{background-color: #eeecec;}
.acco .head:hover .txt .hea, .acco .head.active .txt .hea{}
.acco .head .txt .head_1{position: absolute; left: 3px; top: 3px; width: 11px; height: 12px; border-left:1px solid #dbb765; border-top: 1px solid #dbb765; }
.acco .head .txt .head_2{position: absolute; right: 3px; top: 3px; width: 11px; height: 12px; border-right:1px solid #dbb765; border-top: 1px solid #dbb765; }
.acco .head .txt .head_3{position: absolute; right: 3px; bottom: 3px; width: 11px; height: 12px; border-right:1px solid #dbb765; border-bottom: 1px solid #dbb765; }
.acco .head .txt .head_4{position: absolute; left: 3px; bottom: 3px; width: 11px; height: 12px; border-left:1px solid #dbb765; border-bottom: 1px solid #dbb765; }

.acco .head .txt{display: block; margin-bottom: 0; width: 100%; padding: 0 30px; color: #000; position: relative; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
                 font: 31px/60px "Conv_vevey"; letter-spacing: 1px; color: #000;
}
.acco .head .ico{width: 64px; position: absolute; right: 0; top: 0; height: 100%;  padding-top: 2px}


.scrollable{max-height: 280px; overflow: hidden;}
.acco .bodi{ padding: 0 0px 0 0;  display: none;}
.acco .bodi .in{width: 100%; max-height: 320px;  opacity: 0; visibility: hidden; padding-top: 20px; padding-bottom: 10px;}
.acco .bodi .in .in_c{ position: relative; padding-left: 663px; min-height: 280px;}
.acco .bodi .img {position: absolute; left: 0; top: 0; border: 1px solid #fff;}
.acco .bodi .txt p{ color: #fff; }

/* SECTION 4 */

.section_4{}
.section_4 .container{padding-top: 50px; padding-bottom: 50px;}
.section_4 .display-table-cell.img{padding-right: 30px;}
.section_4 .display-table-cell.txt{padding-left: 30px;}




/* SECTION 5 */

.section_5{}
.section_5 h2{font: 55px/1em "Conv_nouvelle_vague_final"; color: #fff;}
.section_5 .inner{padding: 65px 0 45px;}


/* FOOTER */

footer{background-color: #000; padding: 33px 0 60px;}
footer p, footer il li, footer p, footer a{color: #8c8c8c; font-size: 17px; margin-bottom: 0;}
footer a{border-bottom: 1px solid transparent;
         -webkit-transition: all 0.3s ease;
         -moz-transition: color 0.3s ease, border-color 0.3s ease;
         -o-transition: color 0.3s ease, border-color 0.3s ease;
         -ms-transition: color 0.3s ease, border-color 0.3s ease;
         transition: color 0.3s ease, border-color 0.3s ease;
}
.nav_footer{}
.nav_footer li{display: inline-block; margin-right: 20px;}
footer a:hover, footer a.active{color: #c4c4c4; border-color: #c4c4c4; padding-bottom: 1px;}


/* INFORMATIVOS */

.section_info{padding-top: 40px; padding-bottom: 90px;}
.w_header_info{height: 230px;}
.header_info{height: 230px;}
.header_info h1{font: 55px/1em "Conv_nouvelle_vague_final";}

/* PAGGING */

.pagging {}
.pagging ul{font-size: 0;}
.pagging li{display: inline-block; margin-right: 4px; margin-bottom: 4px;}
.pagging li a, .pagging li span{display: block; width: 36px; height: 36px; font-size: 17px; line-height: 34px; background-color: #fff; text-align: center; vertical-align: top;
                                -webkit-border-radius: 3px;
                                -moz-border-radius: 3px;
                                border-radius: 03px; 
                                -webkit-transition: all 0.3s ease;
                                -moz-transition: all 0.3s ease;
                                -o-transition: all 0.3s ease;
                                -ms-transition: all 0.3s ease;
                                transition: all 0.3s ease;
}
.pagging li .disable{opacity: 0.5;}

.pagging li a, .pagging li span{border: 1px solid #e4e4e4;}
.pagging li .prev{display: block; background:#fff url("../icons/page_prev.png") 50% 50% no-repeat; background-size: 8px 13px; text-indent: -999px;}
.pagging li .next{display: block; background:#fff url("../icons/page_next.png") 50% 50% no-repeat; background-size: 8px 13px; text-indent: -999px;}
.pagging li a:hover{background-color: #e4e4e4;}
.pagging li a.active{background-color: #e4e4e4; color: #3e3e3e;}


#btn_up_js{position: fixed; right: 20px; bottom: 10px; z-index: 9; opacity: 0; visibility: hidden; }



/* INPUT, TEXTAREA, SELECT */

.w_row{margin-top: 50px;}
.row{width: 340px; margin: 0 18px 45px; position: relative;}
.row label{color: #fff; margin-bottom: 10px; display: inline-block;}

.input, .customfile, .textarea{border: none; width: 100%; height: 48px; line-height: 18px;  padding: 15px 18px; background: transparent; 
                               background: #e5e5e5; display: block;
                               border: 1px solid #8a8a8a;
                               -webkit-border-radius: 3px;
                               -moz-border-radius: 3px;
                               border-radius: 3px;
                               -webkit-transition: background-color 0.3s ease;
                               -moz-transition: background-color 0.3s ease;
                               -o-transition: background-color 0.3s ease;
                               -ms-transition: background-color 0.3s ease;
                               transition: background-color 0.3s ease;
}

.textarea{height: 114px;}
.row_textarea{width: 1092px; }
.input.error, .textarea.error{background-color: #b96b6b; border-color: #d61e1e; color: #fff;}
label.error{position: absolute; left: 0; bottom: -38px; font-size: 17px;}

.select { 
    background-image: url("../icons/ico_select.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-position: 100% 50% ;
    background-repeat: no-repeat;
    webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    text-indent: .01px;
    text-overflow: '';
    -moz-appearance: none; 
}
option{background-color: #825222;}
.ie9 option{background-color: transparent;}

.select::-ms-expand {
    display: none;
}

/* REPERTORIO */


/*.wrapper_contenido{background: #fff url('../icons/ajax-loader-blanco.gif') 50% 40% no-repeat;}*/
.wrapper_contenido_inner{background-color: #fff;}

.w_repertorio{min-height: 400px;}

.section_repertorio{padding-top: 0;}
.w_form_buscar {border-bottom: 1px solid #d6d6d6; padding: 15px 0;}

.w_form_buscar .input{background-color: #efefef; box-shadow: inset 2px 2px 0 #c4c4c4; border: none; height: 41px; line-height: 21px; padding-top: 10px; padding-bottom: 10px;
                      font-size: 17px; width: 420px;
}
.w_form_buscar .submit{background-color: #c8c8c8; height: 41px; padding: 0 30px; font: 22px/1em "Conv_vevey"; letter-spacing: 1px; margin-left: 5px;
                       -webkit-border-radius: 3px;
                       -moz-border-radius: 3px;
                       border-radius: 3px;
                       -webkit-transition: background-color 0.3s ease, color 0.3s ease;
                       -moz-transition: background-color 0.3s ease, color 0.3s ease;
                       -o-transition: background-color 0.3s ease, color 0.3s ease;
                       -ms-transition: background-color 0.3s ease, color 0.3s ease;
                       transition: background-color 0.3s ease, color 0.3s ease;
}
.w_form_buscar .submit:hover{background-color: #373737; color: #fff;}

.repertorio {padding: 12px 0;}
.repertorio:nth-child(2n){background-color: #f8f8f8;}

.repertorio .img {width: 65px;}
.repertorio .img img{width: 100%;}

.repertorio .txt{width: 638px;}
.repertorio .txt .contenido{ max-width: 630px; padding-left: 35px;}
.repertorio .txt h3{color: #333333; margin-bottom: 0; font-size: 17px;}
.repertorio .txt p{color: #666666; font-size: 15px;}
.repertorio .txt .btn_ver span{border-bottom: 1px solid transparent;
                               -webkit-transition: border-color 0.3s ease;
                               -moz-transition: border-color 0.3s ease;
                               -o-transition: border-color 0.3s ease;
                               -ms-transition: border-color 0.3s ease;
                               transition: border-color 0.3s ease;
}
.repertorio .w_btn_ver {min-width: 147px; padding: 0 20px;}
.repertorio .btn_ver i{font-size: 12px;}
.repertorio .btn_ver:hover span{border-bottom: 1px solid #666666;}

.repertorio .w_reproductor{width: 500px; position: relative;}

.repertorio .txt p.description{display: none;}

/* POPUP */

body.overflow{overflow: hidden;}
.overlay{display: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; z-index: 9999; background-color: rgba(255,255,255,0.85); padding: 50px 70px 50px 15px; overflow: auto;}
.popup{max-width: 694px; position: relative;}
.popup_c{border: 5px solid #000; padding: 6px; background-color: #fff;}
.popup_inner{padding: 67px 90px; border: 1px solid #000;}
.popup_inner img{display: inline-block; margin-bottom: 60px; max-width: 100%;}
.popup_inner h4{font: 35px/1em "Conv_vevey";  margin-bottom: 35px; letter-spacing: 1px;}
.popup_inner p{color: #666666; margin-bottom: 0;}

.close{color: #6c6c6c; position: absolute; right: -59px; top: 0; padding: 9px 8px; font-size: 23px; background-color: #fff; cursor: pointer;
       -webkit-transition: background-color 0.3s ease, color 0.3s ease;
       -moz-transition: background-color 0.3s ease, color 0.3s ease;
       -o-transition: background-color 0.3s ease, color 0.3s ease;
       -ms-transition: background-color 0.3s ease, color 0.3s ease;
       transition: background-color 0.3s ease, color 0.3s ease;
}
.close:hover{color: #fff; background-color: #666666;}
.close i{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;   
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0); 
}
.close:hover i{
    -moz-transform:  rotate(90deg) ;
    -webkit-transform: rotate(90deg) ;
    -o-transform:  rotate(90deg) ;
    transform:  rotate(90deg) ;
}


/* RICH TEXT */

body {
    counter-reset: my-awesome-counter;
}

.richtext{}
.richtext p, .richtext a, .richtext li{line-height: 1.7; }
.richtext h2, .richtext p, .richtext h3, .richtext h4, .richtext li{color: #333333;  line-height: 1.2em;}
.richtext h3{margin-bottom: 15px;}
.richtext h2, .richtext h3, .richtext h4, .richtext h5{font-family: "helvetica_neuebold"; text-shadow: none; }
.richtext h2{font-size: 21px; margin-bottom: 40px;}
.richtext h3{font-size: 20px; margin-bottom: 30px; }
.richtext h4{font-size: 19px; margin-bottom: 0px;}
.richtext p{font-size: 17px; margin-bottom: 10px;}
.richtext p strong{font-family: "helvetica_neuebold"; font-size: 18px;}
.richtext h4{margin-bottom: 3px;}

.richtext_2 p, .richtext_2 a, .richtext_2 li{line-height: 1.5;}
.richtext_2 h2{margin-bottom: 5px; font-size: 21px;}
.richtext_2 p{margin-bottom: 30px;}

.richtext_3 p, .richtext_3 a, .richtext_3 li{line-height: 1.7; font-size: 18px;}
.richtext_3 p{margin-bottom: 40px;}

.richtext em{
    font-style: italic; 
}
.richtext b, .richtext strong{
    font-weight: 700;
}
.richtext .justifyright{
    text-align: right;
}
.richtext .justifyleft{
    text-align: left;
}



/* RESPONSIVE */


@media only screen and (max-width: 1390px) {
    .container{padding-left: 15px; padding-right: 15px;}
}
@media only screen and (max-width: 1350px) {
    .section .navigation{ bottom: 10px;}
}
@media only screen and (max-width: 1210px) {
    .row{width: 33.33%; margin: 0 0 45px; padding-left: 18px; padding-right: 18px;}
    .row_textarea{width: 100%;}
}
@media only screen and (max-width: 1205px) {
    .row{width: 33.3333%;}
    .row_textarea{width: 100%;}
    label.error{left: 18px;}
}

@media only screen and (max-width: 1180px) {
    .section_2 .content .txt{padding-left: 0;}
}
@media only screen and (max-width: 1140px) {
    .section_2 .content .img, .section_2 .content .txt{width: 50%;}
    .section_2 .content .img{padding-right: 20px;}
    .section_2 .content .txt{padding-left: 20px;}
    .section_2 .content .img img{width: 100%;}

}

@media only screen and (max-width: 1024px) {
    .section_4{height: auto !important; }


}


@media only screen and (max-width: 979px) {
    .acco .bodi .in .in_c{padding-left: 52%;}
    .acco .bodi .img{width: 50%;}

    .section_4 .display-table-cell.img img{width: 350px;}

}
@media only screen and (max-width: 835px) {

    .section_4 .display-table{display: block; width: 100%; } 
    .section_4 .display-table-cell{display: block; width: 100%;}
    .section_4 .display-table-cell.img{text-align: center; margin-bottom: 30px; padding-right: 0;}
    .section_4 .display-table-cell.txt{padding-left: 0;}
    .section_4 .display-table-cell.img img{ max-width: 95%; }

    .top .container{padding-left: 0; padding-right: 0;}
    .top .display-table-cell.align_right{width: 28px;}
    .nav{display: none;}
    .btn_nav_responsivo{display: block; text-align: center; padding: 18px 0;}
    .btn_nav_responsivo .w_bar{display: inline-block;}
    .btn_nav_responsivo .w_bar .bar{display: block; width: 42px; height: 6px; background-color: #fff; margin-bottom: 6px;}
    .logo {padding-top: 10px; padding-bottom: 10px; padding-left: 15px;}
    .logo img{width: 120px;}
    .section{padding-top: 80px;}

    .nav{position: absolute; left: 0; right: 0; width: 100%; top: 100%; background-color: #434343;}
    .nav li{border: none; display: block; width: 100%; text-align: center;}
    .nav li a{padding-top: 15px; padding-bottom: 15px; display: block; width: 100%; border-bottom: 1px solid #313131; border-top: 1px solid #626262; }
    .nav li.lang {padding-top: 15px; padding-bottom: 15px; border-top: 1px solid #626262;}
    .nav li.lang a{display: inline-block; width: auto; border-bottom: none; border-top: none;}

    .nav_footer{width: 100%;}
    footer .display-table{display: block; width: 100%;}
    footer .display-table-cell{display: block; width: 100%;}
    .nav_footer {margin-bottom: 25px;}
    .nav_footer li{width: 100%; margin-right: 0;}
    .nav_footer li a{border: none;}
    .nav_footer li a:hover{border: none;}
    .nav_footer li a{display: block; width: 100%; padding-left: 15px; padding-right: 15px; padding: 10px 0; border-bottom: 1px solid #151515;
                     -webkit-transition: background-color 0.3s ease;
                     -moz-transition: background-color 0.3s ease;
                     -o-transition: background-color 0.3s ease;
                     -ms-transition: background-color 0.3s ease;
                     transition: background-color 0.3s ease;
    }
    .nav_footer li a:hover, .nav_footer li a.active{border-bottom: 1px solid #151515; background-color: #0e0e0e;}

    footer{padding: 0 0 35px;}
    footer .container{padding-left: 0; padding-right: 0;}
    footer p, footer a{text-align: center;}
}

.section_2_img_responsivo{display: none !important;}
@media only screen and (max-width: 767px) {

    .navigation{display: none;}

    .banner .bloque_banner h3, .section_2 h2, .section_3 h2, .section_5 h2, .header_info h1{font-size: 35px; margin-bottom: 15px;}
    .linea{margin: 0 0 10px;}
    .linea_blanca{margin: 0 0 10px;}

    .section_4 .display-table-cell.img img{width: 350px;}

    .section_2{height: auto;}
    .section_2 .btn_ico{margin: 15px 0;}
    .section_2 .container {text-align: center;}
    .section_2 .content .img, .section_2 .content .txt{width: 100%; text-align: center;}
    .section_2 .content .img {margin-bottom: 25px;}
    .section_2 .content .img img{width: 95%;}
    .section_2 .content .img{padding-right: 0;}
    .section_2 .content .txt{padding-left: 0;}
    .section_2_img_normal{display: none !important;}
    .section_2_img_responsivo{display: block !important; }

    .row{width: 100%; padding-left: 0; padding-right: 0;}
    label.error{left: 0;}
    .acco .bodi .img{width: auto; display: inline-block; position: relative; margin-bottom: 15px}
    .acco .bodi .in .in_c{padding-left: 0; }
    .acco .bodi .in .in_c img{max-width: 100%; width: 100%;}
    .section .content .txt{padding-left: 0;}
    .acco .head .txt{padding-left: 20px;}

    .section_3 .container .content{padding-top: 0; width: 100%;}
    .section_5 .inner{padding-top: 0;}
}
@media only screen and (maxwidth: 740px) {

}

@media only screen and (max-width: 659px) {


}
@media only screen and (max-width: 630px) {

}
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 568px) {

}
@media only screen and (max-width: 560px) {
    
    .logo img{width: 100px;}
    
    .banner .bloque_banner{padding: 35px;}
    .btn_submit{width: 100%;}
    .row{margin-bottom: 35px;}
    .section_4 .display-table-cell.img img{width: 85%;}

    .overlay{padding-right: 15px; padding-top: 75px;}
    .close{right: 0; top: -48px; }
    
    .btn_ico .bt_txt{padding-left: 25px; padding-right: 25px;}
    
    .header_info h1{font-size: 30px;}
    
    .section_home{padding-top: 30px;}
}
@media only screen and (max-width: 480px) {
    
    body, .input, .textarea, .input_row, p, li, label, a{font-size: 14px;}
    .section_4{padding-top: 30px;}
    .section_5{padding-top: 0;}
    .section_5 .inner{padding-bottom: 0;}
    
    .section_info{padding-top: 30px; padding-bottom: 30px;}
    
    .section_home{min-height: 0;}
    
    .section_home{padding-top: 0px;}
    .section .container{padding-top: 30px; padding-bottom: 30px;}
        
    .acco .head .txt{font-size: 26px;}
    
    .popup_inner{padding-left: 50px; padding-right: 50px;}
    .banner .bloque_banner {
        padding: 35px 18px;
    }
    .banner .bloque_banner h3{font-size: 28px;}

    .banner .bloque_banner h3, .section_2 h2, .section_3 h2, .section_5 h2, .header_info h1{font-size: 30px;}
    
    .btn_ico .bt_txt{padding-left: 15px; padding-right: 15px;}
    
    .header_info h1{font-size: 28px;}
    .richtext_3 p, .richtext_3 a, .richtext_3 li{font-size: 14px;}
}
@media only screen and (max-height: 535px) {

}

/* 2X */

@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) {

    .menu_tri_down{background-image: url("../icons/menu_tri_down2x.png"); background-size: 16px 14px;}

    .copy a i{background-image: url("../icons/icon_manya.png") ;  background-size: 24px 36px;}

    label.error{background-image: url("../icons/ico_message2x.png"); background-size: 30px 20px; }

    .row_file .input{background-image: url("../icons/icono_upload2x.png") !important; background-size: 57px 22px !important;}

    .select {background-image: url("../icons/ico_select2x.png"); background-size: 60px 19px;}
}

/* REPRODUCTOS MEDIA QUERIES */


@media only screen and (max-width: 1200px) {
    .reproductor{width: 385px;}
    .repertorio .w_reproductor{width: 100%}
    .repertorio .txt{width: auto;}
    div.jp-audio div.jp-type-single div.jp-progress{width: 250px;}


}
@media only screen and (max-width: 1024px) {

    .reproductor{width: 285px;}
    .repertorio .w_reproductor{width: 100%}
    div.jp-audio div.jp-type-single div.jp-progress{width: 150px;}

}
@media only screen and (max-width: 850px) {

    .reproductor{width: 235px;}
    .repertorio .w_reproductor{width: 100%}
    div.jp-audio div.jp-type-single div.jp-progress{width: 100px;}

}
@media only screen and (max-width: 767px) {

    .repertorio > .display-table{display: block; width: 100%;}
    .repertorio > .display-table > .display-table-cell{display: block; }
    .repertorio .txt .contenido{padding-left: 0; margin-top: 15px;}
    .repertorio .w_btn_ver{padding-left: 0; margin-bottom: 15px;}
}
@media only screen and (max-width: 590px) {

    .w_form_buscar .container{position: relative; padding-right: 128px;}
    .w_form_buscar .input{width: 100%;}
    .w_form_buscar .submit{position: absolute; top: 0; right: 15px;}
}