@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-a7eitt');
	src:url('fonts/icomoon.eot?#iefix-a7eitt') format('embedded-opentype'),
		url('fonts/icomoon.woff?-a7eitt') format('woff'),
		url('fonts/icomoon.ttf?-a7eitt') format('truetype'),
		url('fonts/icomoon.svg?-a7eitt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-watts_left_bold:before {
	content: "\e624";
}
.icon-watts_right_bold:before {
	content: "\e625";
}
.icon-watts_1:before {
	content: "\e626";
}
.icon-watts_375:before {
	content: "\e627";
}
.icon-arrow_down_little:before {
	content: "\e628";
}
.icon-camara:before {
	content: "\e61e";
}
.icon-mensaje:before {
	content: "\e61f";
}
.icon-arrow_select:before {
	content: "\e61d";
}
.icon-marcador:before {
	content: "\e617";
}
.icon-cargar:before {
	content: "\e618";
}
.icon-correo:before {
	content: "\e619";
}
.icon-gancho:before {
	content: "\e61a";
}
.icon-nombres:before {
	content: "\e61b";
}
.icon-telefono:before {
	content: "\e61c";
}
.icon-arrow_bold_right:before {
	content: "\e60f";
}
.icon-arrow_bold_left:before {
	content: "\e610";
}
.icon-botella_1800:before {
	content: "\e611";
}
.icon-botella_946:before {
	content: "\e612";
}
.icon-botella_450:before {
	content: "\e613";
}
.icon-botella_180:before {
	content: "\e614";
}
.icon-arrow_light_down:before {
	content: "\e615";
}
.icon-arrow_light_up:before {
	content: "\e616";
}
.icon-link_out:before {
	content: "\e621";
}
.icon-trabaja:before {
	content: "\e603";
}
.icon-historia:before {
	content: "\e604";
}
.icon-empresa:before {
	content: "\e605";
}
.icon-contacto:before {
	content: "\e606";
}
.icon-blog:before {
	content: "\e607";
}
.icon-productos:before {
	content: "\e608";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-youtube:before {
	content: "\e602";
}
.icon-credit:before {
	content: "\e60e";
}
.icon-cog:before {
	content: "\e60a";
}
.icon-shuffle:before {
	content: "\e609";
}
.icon-googleplus:before {
	content: "\e622";
}
.icon-mail:before {
	content: "\e60b";
}
.icon-paperplane:before {
	content: "\e60c";
}
.icon-gauge:before {
	content: "\e60d";
}
.icon-mail2:before {
	content: "\e620";
}
.icon-uniE600:before {
	content: "\e623";
}
