/* FONTS */

.fMedium, .fBold, .fExtraBold{font-family: 'Raleway', sans-serif;}
.fMedium{font-weight: 500;}
.fBold{font-weight: 700;}
.fExtraBold{font-weight: 800;}

/* RESET */
* { padding: 0; margin: 0; }
html, body, div, span, a, img, h1, h2, p, ul, li {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    list-style: none;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
svg:not(:root) {
    overflow: hidden;
}
input, textarea{

    -webkit-appearance:none;
    -webkit-appearance:caret;
    -webkit-border-radius: 0;
}
::-webkit-input-placeholder {color: #3a89c9;}
:-moz-placeholder {color: #3a89c9; }
::-moz-placeholder {color: #3a89c9; }
:-ms-input-placeholder { color: #3a89c9;}

a[href^=tel]{color:inherit;text-decoration:none;}
input{-webkit-user-select: auto;}
img { -ms-interpolation-mode: bicubic; }
:link, :hover, :active, :focus, :visited { outline: 0; }
::-webkit-selection { color: #fff; background: #ccc; }
::-moz-selection { color: #fff; background: #ccc; }
::selection { color: #fff; background: #ccc; }
textarea, input[type="text"], input[type="number"], input[type="email"] {-webkit-appearance: none;}
.left{float: left;}
.right{float: right;}
.align_left{text-align: left;}
.align_right{text-align: right;}
.align_center{text-align: center;}
.w_display-inline{font-size: 0; font-size: 0.1;}
.display-inline.vertical_top{vertical-align: top;}
.vertical_middle{vertical-align: middle;}
.vertical_bottom{vertical-align: bottom;}
.margin_left_10{margin-left: 10px;}
.clearfix:after{content:""; display:table; clear:both;}
.transition{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.transition_opacity{
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0); 
}
.transition_top{
    -webkit-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    -ms-transition: top 0.3s ease;
    transition: top 0.3s ease;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0); 
}
.transition_color{
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.transition_border_color{
    -webkit-transition: border-color 0.3s ease;
    -moz-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    -ms-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
}
.transition_bg-color{
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

/* GENERALES */

body{min-width: 320px; background-color: #c6d4e1;}
body.overflow{overflow: hidden;}
body, .input, .textarea, .input_row, p, li, label, a, button{font:21px/1.35em 'Raleway', sans-serif; font-weight: 500; color: #3f3f3f;
                                                             -webkit-font-smoothing: antialiased;
                                                             -moz-osx-font-smoothing: grayscale;
}
p{margin-bottom: 20px;}
.label, label{cursor: pointer;}
p strong{}
h2, .h2{margin-bottom: 20px;}
h2, .h2{font:33px/1.4em 'Raleway', sans-serif; font-weight: 700; color: #175586;}
h2 strong, .h2 strong{font-size: 40px; font-weight: 800; color: #2c2c2c;}

h3{font-size: 20px; font-weight: 600; margin-bottom: 10px;}
.display-table{display: table; width: 100%; height: 100%;}
.display-table-cell{display: table-cell; vertical-align: middle; }
.display-inline{display: inline-block !important; *display: inline; zoom: 1; vertical-align: middle;}
.container{max-width: 1440px; margin: 0 auto;}
.container_info{max-width: 980px;}
.helper{display: inline-block;vertical-align: middle;height:100%; width: 0;}
.wide{width: 100% !important;}
.full{width: 100%; height: 100%;}
.input{border: 1px solid #337ab3; height: 62px;  padding: 15px 56px 15px 20px; color: #3a89c9; box-shadow: inset 4px 6px 0 #eaeaea;
       -webkit-transition: border-color 0.35s ease;
       -moz-transition: border-color 0.35s ease;
       -o-transition: border-color 0.35s ease;
       -ms-transition: border-color 0.35s ease;
       transition: border-color 0.35s ease;
}
.input.error{border-color: #ff0000; background:#fff url("../icons/ico_error.png") 96% 50% no-repeat;}
.input.valid{border-color: #e67a24; background:#fff url("../icons/ico_valid.png") 96% 50% no-repeat;}
.input.error::-webkit-input-placeholder {color: #ff0000;}
.input.error:-moz-placeholder {color: #ff0000; }
.input.error::-moz-placeholder {color: #ff0000; }
.input.error:-ms-input-placeholder { color: #ff0000;}
label.error{display: none !important;}

/* BOTONES */

.btn{cursor: pointer; display: inline-block; border: none; position: relative; display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.btn_square{height: 54px; max-width: 100%; line-height: 54px;  color: #fff; padding: 0 23px; position: relative; top: -3px;}

.btn_square.btn_blue{background-color: #3a89c9; box-shadow: 0 6px #337ab3;}
.btn_square.btn_blue:hover{ top: 3px !important; box-shadow: 0 3px #337ab3;}
.btn_square.btn_blue:active{ top: 6px !important; box-shadow: 0 0 #337ab3;}

.btn_orange{background-color: #ff9000; box-shadow: 0 6px #eb8400;}
.btn_orange:hover{box-shadow: 0 3px #eb8400; top: 3px;}
.btn_orange:active{box-shadow: 0 0 #eb8400; top: 6px;}

.btn_circle {border: 1px solid #fff; color: #fff; 
             -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
             border-radius: 50%;
             -webkit-transition: all 0.35s ease;
             -moz-transition: all 0.35s ease;
             -o-transition: all 0.35s ease;
             -ms-transition: all 0.35s ease;
             transition: all 0.35s ease;
}
.btn_circle:hover, .btn_square:hover .btn_circle{background-color: #fff; color: #1768aa;}
.btn_circle_normal{ width: 39px; height: 39px; line-height: 39px;} 
.btn_circle_small{ width: 31px; height: 31px; line-height: 31px;}

.link_testimonio_play{color: #000000; font-size: 16px;}
.link_testimonio_play .txt{border-bottom: 1px solid #000; margin-bottom: 5px;
                           -webkit-transition: all 0.35s ease;
                           -moz-transition: border-color 0.35s ease;
                           -o-transition: border-color 0.35s ease;
                           -ms-transition: border-color 0.35s ease;
                           transition: border-color 0.35s ease;
}
.link_testimonio_play .ico{color: #fff; width: 41px; height: 41px; border: 1px solid #fff; line-height: 40px; text-align: center; font-size: 21px;
                           -moz-transition: all 0.35s ease;
                           -o-transition: all 0.35s ease;
                           -ms-transition: all 0.35s ease;
                           transition: all 0.35s ease;
}
.link_testimonio_play:hover .txt{border-bottom-color: transparent;}
.link_testimonio_play:hover .ico{background-color: #fff; color: #1768aa;}



/* HEAD */

.head{width: 100%; height: 125px; background-color: #3a89c9; border-bottom: 7px solid #337ab3; position: fixed; left: 0; top: -100%; width: 100%; z-index: 9;}
.head .container{ height: 100%;}
.head .container .top_c{position: relative; height: 100%;}

.logo{position: absolute; left: 0; top: 0; width: 100%; bottom: 0; margin: auto; opacity: 0; visibility: hidden;}

.w_form_top{display: none;}
.form_top {opacity: 0; visibility: hidden; position: absolute; right: -10px; top: 0; bottom: 0; height: 100%;}
.form_top .btn{margin-left: 45px;}

.btn_responsivo {top: 6px; position: relative;}
.btn_responsivo a span{display: block; width: 30px; height: 5px; background-color: #fff; margin: 0 auto 3px;}

/* SECTIONS */

html, body{width: 100%; height: 100%; -webkit-overflow-scrolling: touch;}

.section.bg_azul{background: #4fa2e3 url("../icons/bg_azul.png") 0 0 repeat;}
/*.section.bg_azul{background: #4fa2e3;}*/

.section{width: 100%; min-height: 100%; background: #c6d4e1 url("../icons/bg_gris.png") 0 0 repeat;}
.section_content{width: 100%; padding: 175px 0 80px;}
.apear{position: relative; top: 10px; opacity: 0;}

/* SECTION 1 */
.items_1{width: 100%; margin: 90px 0 70px;}
.items_1 .item_1{width: 33%;}
.items_1 .item_1 .item_img{height: 225px; margin-bottom: 30px;}
.items_info{margin: 40px auto 70px;}
.img_info{max-width: 90%;}
.linea_horizontal{width: 77px; margin: 0 auto; height: 4px; background-color: #ff9000;}
.btn_scroll_down{width: 69px; height: 69px; top: 0; position: relative; background: url("../icons/icon_scroll_down.png") 0 0 no-repeat;

                 -moz-transition: background-color 0.35s ease, top 0.35s ease;
                 -o-transition: background-color 0.35s ease, top 0.35s ease;
                 -ms-transition: background-color 0.35s ease, top 0.35s ease;
                 transition: background-color 0.35s ease, top 0.35s ease;
                 -webkit-border-radius: 50%;
                 -moz-border-radius: 50%;
                 border-radius: 50%;
}
.btn_scroll_down.levitando{
    -moz-animation:levitando 1s infinite;
    -webkit-animation:levitando 1s infinite;
}
.btn_scroll_down:hover{background-color: #fff;}
@-webkit-keyframes levitando {
    0%{top: 0;}
    50%{top: 10px;}
    100%{top: 0;}
}
@-moz-keyframes levitando {
    0%{top: 0;}
    50%{top: 10px;}
    100%{top: 0;}
}
@-o-keyframes levitando {
    0%{top: 0;}
    50%{top: 10px;}
    100%{top: 0;}
}
@keyframes levitando {
    0%{top: 0;}
    50%{top: 10px;}
    100%{top: 0;}
}


/* SECTION 2 */


.section_1_2{width: 49%;}
.w_image_list{margin: 95px 0 60px;}
.img_4{}
.list_ico_check{}
.list_ico_check li{position: relative; padding-left: 60px; min-height: 39px;  padding-top: 3px; margin-bottom: 45px; font-size: 24px;}
.section_azul .list_ico_check li{color: #fff;}
.list_ico_check li .ico{display: block; width: 43px; height: 38px; position: absolute; left: 0; top: 0; background: url("../icons/ico_check.png") 0 0 no-repeat;}


/* SECTION 3 */


/* SECTION 4 */


/* SECTION 4 */
.section_4{position: relative; }
.section_4 .section_content_4{position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%;  background: url("../icons/bg_icons_section_4.png") 0 100% no-repeat;}
.section_4 .section_content{position: relative; z-index: 2;}
.popup{opacity:0; visibility: hidden; position: fixed; left: 0; top: 0; padding: 35px; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 9;}
.popup .close{color: #fff; font-size: 24px; position: relative; z-index: 3; top: -20px; opacity: 0; visibility: hidden;
              -webkit-transition: color 0.35s ease;
              -moz-transition: color 0.35s ease;
              -o-transition: color 0.35s ease;
              -ms-transition: color 0.35s ease;
              transition: color 0.35s ease;
}
.popup .close .txt{border-bottom: 1px solid transparent;
                   -webkit-transition: border-color 0.35s ease;
                   -moz-transition: border-color 0.35s ease;
                   -o-transition: border-color 0.35s ease;
                   -ms-transition: border-color 0.35s ease;
                   transition: border-color 0.35s ease;
}

.popup .close:hover .txt{border-bottom: 1px solid #fff;}
.popup .close .ico{border: 1px solid #fff; width: 68px; position: relative; top: 0; height: 68px; text-align: center; line-height: 68px; font-size: 30px;
                   -webkit-border-radius: 50%;
                   -moz-border-radius: 50%;
                   border-radius: 50%;
                   -webkit-transition: all 0.2s linear;
                   -moz-transition: all 0.2s linear;
                   -o-transition: all 0.2s linear;
                   -ms-transition: all 0.2s linear;
                   transition: all 0.2s linear;
                   -webkit-transform: translateZ(0);
                   -moz-transform: translateZ(0);
                   transform: translateZ(0);
                   -webkit-backface-visibility: hidden;

}
.popup .close:hover .ico{color: #1768aa; background-color: #fff;
                         -moz-transform:  rotate(90deg) translate(0);
                         -webkit-transform: rotate(90deg) translate(0);
                         -o-transform:  rotate(90deg) translate(0);
                         transform:  rotate(90deg) translate(0);

}

.popup .play{display: inline-block; width: 134px; height: 134px;  line-height: 120px; padding-left: 10px; border: 4px solid #959596; color: #fff; font-size: 65px;
             -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
             border-radius: 50%;
             -webkit-transition: background-color 0.35s ease, color 0.35s ease, border-color 0.35s ease;
             -moz-transition: background-color 0.35s ease, color 0.35s ease, border-color 0.35s ease;
             -o-transition: background-color 0.35s ease, color 0.35s ease, border-color 0.35s ease;
             -ms-transition: background-color 0.35s ease, color 0.35s ease, border-color 0.35s ease;
             transition: background-color 0.35s ease, color 0.35s ease, border-color 0.35s ease;
}

.popup .play:hover{
    color: #1768aa; background-color: #fff; border-color: #fff;
}
.popup .popup_play{position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 2;  opacity: 0; visibility: hidden;}
.popup .popup_iframe{position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; opacity: 0; visibility: hidden;}
.popup .popup_iframe iframe{width: 100%; height: 100%;}

/* TESTIMONIOS */

.w_testimonios{position: relative; margin-top: 90px; margin-bottom: 155px; padding: 0 50px;}
.w_testimonios .nav_testimonios{position: absolute; top: 50%; margin-top: -20px;}
.w_testimonios .nav_testimonios.nav_prev{left: 0;}
.w_testimonios .nav_testimonios.nav_next{right: 0;}


.testimonios{}
.testimonio{position: relative; min-height: 260px; max-width: 1060px; padding-left: 370px;}
.testimonio .imagen{position: absolute; left: 0; top: 0; border: 1px solid #fff; padding: 8px;}
.testimonio .imagen img{display: block;}
.testimonio .texto{margin-bottom: 18px;}
.testimonio .texto h3{border-bottom: 3px solid #3a89c9;  margin-bottom: 0; color: #fff; font-size: 25px; font-weight: 500; float: left;}
.testimonio .texto .texto_c{padding: 20px 18px; background-color: #4598da; border-top: 1px solid #3a89c9; border-bottom: 4px solid #3a89c9;}
.testimonio .texto .texto_c p{color: #fff; font-size: 16px; line-height: 1.6; font-weight: 300; margin-bottom: 0;}

/* SECTION 5 */

.w_form{width: 100%; margin: 90px 0;}
.row{width: 33%; padding: 0 75px; margin-bottom: 40px;}
.row .label{display: block; font-size: 24px; color: #3a89c9; margin-bottom: 26px;}

.w_submit{position: relative; max-width: 720px; margin: 60px auto 0; }
.w_submit .lapiz_papel{position: absolute;}
.w_submit .carta{position: absolute;}

.w_sobre{ position: absolute; right: 0; width: 94px; height: 87px; bottom: -3px;}
.w_sobre.cerrado{}
.w_sobre.cerrado .carta{display: none;}
.w_sobre.cerrado .sobre_back{display: none;}
.w_sobre.cerrado .sobre_front{display: none;}
.sobre_back{position: absolute; left: 0; top: 0; width: 100%; height: 87px; background: url("../icons/sobre_back.png") 0 0 no-repeat; z-index: 1;}
.carta{position: absolute; left: 7px; top: -70px; opacity: 0; visibility: hidden; width: 84px; height: 66px; background: url("../icons/carta.png") 0 0 no-repeat; z-index: 2;}
.sobre_front{position: absolute; left: 4px; bottom: 1px; width: 91px; height: 60px; background: url("../icons/sobre_front.png") 0 0px no-repeat; z-index: 3;}
.sobre_cerrado{position: absolute; left: 0; bottom: 0; width: 94px; height: 62px; background: url("../icons/sobre_cerrado.png") 0 0 no-repeat; z-index: 4;}
.sobre_cerrado.hide{display: none;}

.w_papel{position: absolute; left: 0; top: 0;}
.papel{position: relative; width: 107px; height: 123px; background: url("../icons/papel.png") 0 0 no-repeat; z-index:1;}
.lapiz{position: absolute; top: -53px; left: 20px; width: 55px; height: 77px; z-index:2;}
.lapiz_c{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url("../icons/lapiz.png") 0 0 no-repeat; z-index:2;}



/* BTN UP */

.prefooter{display: block; background-color: #6fb7e9; padding: 12px 0; 
           -webkit-transition: background-color 0.35s ease;
           -moz-transition: background-color 0.35s ease;
           -o-transition: background-color 0.35s ease;
           -ms-transition: background-color 0.35s ease;
           transition: background-color 0.35s ease;
}
.prefooter:hover {background-color: #337ab3;}
.prefooter:hover .btn_circle{background-color: #fff; color: #1768aa;}


/* FOOTER */

footer{background-color: #337ab3; border-top: 1px solid #2269a2;}
.footer_c{border-top: 1px solid #4888bb; padding: 25px 0;}
.footer_c p{font-size: 18px; color: #fff;}

.rs{}
.rs a{width: 70px; height: 70px; border: 1px solid #fff; color: #fff; font-size: 30px; margin:  0 23px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      transition: all 0.35s ease;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      transform: translateZ(0);     
}
.rs .f{padding-left: 1px;}
.rs .y{font-size: 37px; padding-bottom: 2px;}
.rs a:hover{background-color: #fff;}
.rs a.f:hover {color: #3c5998;}
.rs a.y:hover{color: #e52d27;}

/* COPY */

.copy{background-color: #337ab3;border-top: 1px solid #2269a2;}
.copy_c{border-top: 1px solid #4888bb;  padding: 24px 0;}
.copy_c, .copy_c a, .copy_c p{color: #62b0ee; line-height: 1.2; font-size: 14px; margin: 0;}
.copy_c a{
    -webkit-transition: color 0.35s ease;
    -moz-transition: color 0.35s ease;
    -o-transition: color 0.35s ease;
    -ms-transition: color 0.35s ease;
    transition: color 0.35s ease;
}
.copy .first{margin-bottom: 18px;}
.copy_c a:hover, .copy_c a.active{color: #fff;}

.ma {width: 24px; height: 24px; border: 1px solid #62b0ee;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     border-radius: 50%;
     -webkit-transition: border-color 0.35s ease;
     -moz-transition: border-color 0.35s ease;
     -o-transition: border-color 0.35s ease;
     -ms-transition: border-color 0.35s ease;
     transition: border-color 0.35s ease;

}
.ma:hover{border-color: #fff;}
.ma span{display: inline-block; width: 17px; height: 12px; background: url("../icons/ico_ma.png") 0 0 no-repeat;}
.ma:hover span{background-position: 0 -14px;}

/* RICHETEXT */

.richtext{}
.richtext a{color: #3a89c9;
            -webkit-transition: color 0.35s ease;
            -moz-transition: color 0.35s ease;
            -o-transition: color 0.35s ease;
            -ms-transition: color 0.35s ease;
            transition: color 0.35s ease;
}
.richtext a:hover{color: #3f3f3f;}
.richtext h2{font: 33px/1.4em 'Raleway', sans-serif;}
.richtext h2 strong{font-weight: bold;}
.richtext h3{font: 28px/1.4em 'Raleway', sans-serif;}
.richtext h3 strong{font-weight: bold;}
.richtext h4 {font: 23px/1.4em 'Raleway', sans-serif;}
.richtext h4 strong{font-weight: bold;}
.richtext ul, .richtext ol{padding-left: 20px;}
.richtext ul li{list-style: outside; list-style-type: disc; margin-bottom: 10px;}
.richtext ol li{margin-bottom: 10px; list-style: outside; list-style-type: decimal;}


/* RESPONSIVE */

@media only screen and (max-width: 1770px) {
    .section_4 .section_content_4{background-position: -10% 110%;}
}
@media only screen and (max-width: 1700px) {
    .img_6, .img_7{width: 90%;}
    
}
@media only screen and (max-width: 1470px) {
    .container{padding-left: 15px; padding-right: 15px;}
}
@media only screen and (max-width: 1410px) {
    .section_content{padding-top: 150px;}
    .items_1{margin-top: 20px; margin-bottom: 15px;}
    .items_1 .item_1 .item_img{height: 180px;}
    .item_img_1 img{width: 224px;}
    .item_img_2 img{width: 255px;}
    .item_img_3 img{width: 183px;}

    .img_4{width: 370px;}
}
@media only screen and (max-width: 1260px) {


    .row{padding: 0 50px;}
}
@media only screen and (max-width: 1224px) {

}
@media only screen and (max-width: 1216px) {

}
@media only screen and (max-width: 1180px) {
    .row{padding: 0 30px;}
}
@media only screen and (max-width: 1100px) {
    .row{padding: 0 15px;}
}

.btn_responsivo{display: none;}
@media only screen and (max-width: 1024px) {
    
    .section_4 .section_content_4{background: none;}
    
    .btn_responsivo{display: inline-block; margin-top: 10px;}
    .form_top_c{display: none !important;;}

    .section_content{padding-top: 135px; padding-bottom: 40px;}
    .items_1{margin-top: 60px; margin-bottom: 40px;}
    h2, .h2{font-size: 28px; line-height: 1.2;}
    h2 strong, .h2 strong{font-size: 30px;}
    .head {height: 90px;}
    .head img{width: 200px;}

    .items_1 .item_1 .item_img{height: 145px;}
    .item_img_1 img{width: 179px;}
    .item_img_2 img{width: 204px;}
    .item_img_3 img{width: 146px;}

    .img_4{width: 397px;}
    .list_ico_check li{margin-bottom: 15px;}

    .row{width: 49%;}

    .copy_c .first .ma{display: block !important; margin: 0 auto 10px;}

    .testimonio{padding-left: 300px;}
}

@media only screen and (max-height: 910px) {
    .section_home{height: auto;}

}

@media only screen and (max-width: 890px) {
    .items_1 .item_1{width: 290px; margin-bottom: 40px;}
    .section_1_2{width: 100%; margin-bottom: 30px;}
    .img_6, .img_7{max-width: 650px; width: 90%;}
}
@media only screen and (max-width: 850px) {

}
@media only screen and (max-width: 868px) {


}
@media only screen and (max-width: 767px) {

    body, .input, .textarea, .input_row, p, li, label, a, button{font-size: 19px;}

    .head img{width: 150px;}

    .list_ico_check li{margin-bottom: 20px;}
    .row{width: 100%;}
    .testimonio{padding-left: 280px;}

    .w_form .row{padding-left: 0; padding-right: 0; margin-bottom: 15px;}
    .w_form .label{margin-bottom: 8px;}
    .w_form .w_submit{margin-top: 30px;}
    .w_form .input, .w_form button{width: 100%;}

    .w_papel, .w_sobre{display: none !important;}
}
@media only screen and (max-width: 740px) {
    .testimonio{padding-left: 0; text-align: center;}
    .testimonio .imagen{position: relative; display: inline-block; margin-bottom: 15px;}
}

@media only screen and (max-width: 659px) {

}
@media only screen and (max-width: 630px) {

}
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 585px) {

    .row{padding-left: 0; padding-right: 0;}
    .row .input, .row button{width: 100%;}

    .items_1 .item_1{width: 100%; }
    .items_1 .item_1 .item_img{height: auto;}

    .copy_c a, .copy_c  p{display: block !important; margin: 0 auto 10px;}
    .copy_c .vertical{display: none !important;}
}
@media only screen and (max-width: 540px) {

}
@media only screen and (max-width: 480px) {
    .testimonio .imagen{width: 100%;}
    .testimonio .imagen img{width: 100%;}
    .img_4{width: 90%;}
}


/* 2X */

@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) {

    .list_ico_check li .ico{background-image: url("../icons/ico_check2x.png"); background-size: 43px 38px;}
    .input.valid{background-image: url("../icons/ico_valid2x.png"); background-size: 26px 27px;}
    .input.error{background-image: url("../icons/ico_error2x.png"); background-size: 26px 27px;}
    .btn_scroll_down{background-image: url("../icons/icon_scroll_down2x.png") ; background-size: 69px 69px;}
}