# www/services/.htaccess

#RewriteEngine On
#RewriteBase /__________projects/sunat_2015/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.html [QSA,L]

RewriteEngine on
RewriteBase /_projects/sunat_2015/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?p=$1 [NC,L]