@charset "UTF-8";

@font-face {
    font-family: 'Conv_Wolf';
    src: url('fonts/Wolf in the City.eot');
    src: local('☺'), url('fonts/Wolf in the City.woff') format('woff'), url('fonts/Wolf in the City.ttf') format('truetype'), url('fonts/Wolf in the City.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}                                                                                                                                                                                                            

@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-LtCn';
    src: url('fonts/HelveticaNeueLTStd-LtCn.eot');
    src: local('☺'), url('fonts/HelveticaNeueLTStd-LtCn.woff') format('woff'), url('fonts/HelveticaNeueLTStd-LtCn.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-LtCn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-ThCn';
    src: url('fonts/HelveticaNeueLTStd-ThCn.eot?') format('eot'), 
        url('fonts/HelveticaNeueLTStd-ThCn.otf')  format('opentype'),
        url('fonts/HelveticaNeueLTStd-ThCn.woff') format('woff'), 
        url('fonts/HelveticaNeueLTStd-ThCn.ttf')  format('truetype'),
        url('fonts/HelveticaNeueLTStd-ThCn.svg#HelveticaNeueLTStd-ThCn') format('svg');
}
@font-face {
    font-family: 'calibrilight';
    src: url('fonts/calibril-webfont.eot');
    src: url('fonts/calibril-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/calibril-webfont.woff') format('woff'),
        url('fonts/calibril-webfont.ttf') format('truetype'),
        url('fonts/calibril-webfont.svg#calibrilight') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* RESET */
* { padding: 0; margin: 0; }
html, body, div, span, a, img, h1, h2, h3, h4, p, ul, li {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    list-style: none;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
svg:not(:root) {
    overflow: hidden;
}
input, textarea{
    -webkit-appearance:none;
    -webkit-appearance:caret;
    -webkit-border-radius: 0;
}
::-webkit-input-placeholder {color: #ff691f;}
:-moz-placeholder {color: #ff691f; }
::-moz-placeholder {color: #ff691f; }
:-ms-input-placeholder { color: #ff691f;}

a[href^=tel]{color:inherit;text-decoration:none;}
input{-webkit-user-select: auto;}
img { -ms-interpolation-mode: bicubic; }
:link, :hover, :active, :focus, :visited { outline: 0; }
::-webkit-selection { color: #fff; background: #ccc; }
::-moz-selection { color: #fff; background: #ccc; }
::selection { color: #fff; background: #ccc; }
textarea, input[type="text"], input[type="number"], input[type="email"] {-webkit-appearance: none;}
.left{float: left;}
.right{float: right;}
.align_left{text-align: left;}
.align_right{text-align: right;}
.align_center{text-align: center;}
.vertical_middle{vertical-align: middle;}
.vertical_top{vertical-align: top !important;}
.vertical_bottom{vertical-align: bottom;}
.margin_bottom_0{margin-bottom: 0px;}
.clearfix:after{content:""; display:table; clear:both;}
.display-table{display: table; width: 100%; height: 100%;}
.display-table-cell{display: table-cell; vertical-align: middle; }
.w_display-inline{font-size: 0;}
.width_full{width: 100% !important;}
.height_full{height: 100% !important;}
.full{width: 100%; height: 100%;}
.display-inline{display: inline-block !important; *display: inline; zoom: 1; vertical-align: middle;}
.helper{display: inline-block;vertical-align: middle;height:100%; width: 0;}

.container{max-width:1360px;margin:0 auto;}

/* GENERALES */

body{min-width: 320px; background-color: #fff;}
body, .input, .textarea, .input_row, p, li, label, a{font:19px/1.3em 'calibrilight', Helvetica, Arial, sans-serif; color: #666; font-weight: 100;

                                                     -webkit-font-smoothing: antialiased;
                                                     -moz-osx-font-smoothing: grayscale;
}
.color_orange{color: #f26722;}
.font_regular{font-family: "Conv_HelveticaNeueLTStd-LtCn";}
html {overflow-x:hidden;}
html,body,#page {width:100%;height:100%;}
.noscroll {position:relative;overflow:hidden;}
#page {width: 100%;height: 100%;}
.page-content {position: relative;}
.page .article__content {position:relative;width:100%; padding: 190px 0 50px;}


/* BOTONES */

.btn{cursor: pointer; border: none; position: relative; display: inline-block; white-space: nowrap;  text-overflow: ellipsis;}
.btn_circle{width: 51px; height: 51px;  text-align: center; line-height: 51px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -webkit-transition: background-color 0.3s ease, color 0.3s ease;
            -moz-transition: background-color 0.3s ease, color 0.3s ease;
            -o-transition: background-color 0.3s ease, color 0.3s ease;
            -ms-transition: background-color 0.3s ease, color 0.3s ease;
            transition: background-color 0.3s ease, color 0.3s ease;
}
.btn_circle_white{background-color: #ffffff; color: #f26722;}
.btn_circle_white:hover{background-color: #f26722; color: #fff;}
.btn_circle_orange{background-color: #f26722; color: #fff;}
.btn_circle_orange:hover{background-color: #754d3b; color: #fff; }
.btn_circle_grown{background-color: #754d3b; color: #fff;}
.btn_circle_grown:hover{background-color: #f26722; color: #fff; }



.btn_square{padding: 18px 40px 19px; margin: 0 1px; font: 20px/1em "HelveticaNeueLTStd-ThCn";
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease ;
            -moz-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease ;
            -o-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease ;
            -ms-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease ;
            transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease ;
}
.btn_square i{font-size: 25px;}
.btn_square_white{color: #f26722; background-color: #fff;}
.btn_square_white:hover{color: #fff; background-color: #f26722;}
.btn_square_orange{color: #fff; background-color: #f26722;}
.btn_square_orange:hover{color: #f26722; background-color: #fff;}
.btn_square_white.btn_square_border{border: 1px solid #f26722;}
.btn_square_white.btn_square_border:hover{border: 1px solid #fff;}
.btn_square_orange.btn_square_border{border: 1px solid #fff;}
.btn_square_orange.btn_square_border:hover{border: 1px solid #f26722;}




/* TOP HEADER */

.site-header {
    position: fixed;
    top: 35px;
    left: 0;
    width: 100%;

    z-index: 100;
    background-color: white;
    -webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}                                         

.site-logo .site-logo-img--light{display:none}
.site-logo.using-retina-logo img{max-width:74%}
.header--transparent .site-logo-img--light{display:block}
.header--transparent .site-logo-img--dark{display:none}

/* NAV - MENU */

.nav{ height: 90px;}
.nav li{display: inline-block; }
.nav li a{height: 90px; position: relative; font: 19px/1.3em "HelveticaNeueLTStd-ThCn"; color: #f26722; text-align: center;display: inline-block; vertical-align: middle; padding: 0 20px;}
.nav li a:hover, .nav li a.active{box-shadow: 0 4px 0 #f26722;}
.nav li a .tri{display: block; width: 16px; height:14px; position: absolute; left: 50%; top: -8px; margin-left: -8px; opacity: 0;
               -webkit-transition: top 0.3s ease, opacity 0.3s ease;
               -moz-transition: top 0.3s ease, opacity 0.3s ease;
               -o-transition: top 0.3s ease, opacity 0.3s ease;
               -ms-transition: top 0.3s ease, opacity 0.3s ease;
               transition: top 0.3s ease, opacity 0.3s ease;
}
.nav li a.active .tri{top: -4px; opacity: 1;}
.nav li a .tri img{display: block;}

.site-header .container{position: relative;}
.site-title{position: absolute; left: 0; top: -24px; z-index: 9;}


/* REDES SOCIALES */

.redes_sociales{}
.redes_sociales a{color: #f26722; width: 49px; height: 49px; border: 1px solid #f26722; text-align: center; line-height: 47px; margin-left: 20px;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
                  -moz-transition: background-color 0.3s ease, color 0.3s ease;
                  -o-transition: background-color 0.3s ease, color 0.3s ease;
                  -ms-transition: background-color 0.3s ease, color 0.3s ease;
                  transition: background-color 0.3s ease, color 0.3s ease;
}
.redes_sociales a:hover{background-color: #f26722; color: #fff;}

.link_menu_responsivo{color: #f26722; font-size: 18px; }


@media only screen and (max-width: 899px)
{a.site-logo--text{text-align:center}
}

.nav--footer{margin-bottom:0}

@media only screen and (max-width: 899px){


}

@media only screen and (min-width: 900px){

}
@media only screen and (min-width: 900px){
    .footer-widget-area{margin:-12px;margin-top:0;margin-bottom:0}
}
@media only screen and (max-width: 899px){
    .footer-widget-area{width:100% !important}
}
.footer-widget-area .widget{display:inline-block;vertical-align:middle;margin-bottom:54px;padding:0;border:12px solid transparent}
.footer-widget-area .widget p{margin:0}
.footer-widget-area .widget .widget__title{margin-top:0}
.footer-widget-area.col-1 .widget{width:100%;border:0}
.footer-widget-area.col-1.one-third,.footer-widget-area.col-1.two-sixths,.footer-widget-area.col-1.four-twelfths,.footer-widget-area.col-1.comment-form-author,.footer-widget-area.col-1.comment-form-email,.footer-widget-area.col-1.comment-form-url,.footer-widget-area.col-1.one-whole,.footer-widget-area.col-1.logged-in-as,.footer-widget-area.col-1.comment-form-comment,.footer-widget-area.col-1.form-submit,.footer-widget-area.col-1.comment-subscription-form,.footer-widget-area.col-1.two-thirds,.footer-widget-area.col-1.four-sixths,.footer-widget-area.col-1.eight-twelfths{margin:0 auto}
.footer-widget-area.col-1.one-third,.footer-widget-area.col-1.two-sixths,.footer-widget-area.col-1.four-twelfths,.footer-widget-area.col-1.comment-form-author,.footer-widget-area.col-1.comment-form-email,.footer-widget-area.col-1.comment-form-url{width:33%}
.footer-widget-area.col-1.two-thirds,.footer-widget-area.col-1.four-sixths,.footer-widget-area.col-1.eight-twelfths{width:66%}
.footer-widget-area.col-2 .widget{width:50%}
.footer-widget-area.col-3 .widget{width:33.3333%}.footer-widget-area.col-4 .widget{width:25%}.footer-widget-area.col-5 .widget{width:20%}.footer-widget-area.col-6 .widget{width:16.66666666666667%}
@media only screen and (max-width: 899px){
    .footer-widget-area.col-1 .widget,.footer-widget-area.col-2 .widget,.footer-widget-area.col-3 .widget{width:100%}
}
@media only screen and (min-width: 900px){
    .footer-widget-area .widget.one-half,.footer-widget-area .widget.two-quarters,.footer-widget-area .widget.three-sixths,.footer-widget-area .widget.four-eighths,.footer-widget-area .widget.five-tenths,.footer-widget-area .widget.six-twelfths{width:50% !important}
    .footer-widget-area .widget.one-third,.footer-widget-area .widget.two-sixths,.footer-widget-area .widget.four-twelfths,.footer-widget-area .widget.comment-form-author,.footer-widget-area .widget.comment-form-email,.footer-widget-area .widget.comment-form-url{width:33% !important}
    .footer-widget-area .widget.two-thirds,.footer-widget-area .widget.four-sixths,.footer-widget-area .widget.eight-twelfths{width:66% !important}
}

.site-footer{padding: 20px 0 8px; background: #5a3726 url("../icons/bg_footer.png") 0 0 repeat; }
.sidebar--footer{}
.sidebar--footer__dark{}
.sidebar--footer__dark a, .sidebar--footer__dark li, .sidebar--footer__dark, .sidebar--footer__dark p{color: #9d684f; font: 20px/1em "HelveticaNeueLTStd-ThCn"; margin-bottom: 8px;}
.sidebar--footer__dark a{
    -webkit-transition:  color 0.3s ease;
    -moz-transition:  color 0.3s ease;
    -o-transition:  color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.sidebar--footer__dark a:hover, .sidebar--footer__dark a.active{color: #ff691f;}
.sidebar--footer__dark ul{font-size: 0;}
.sidebar--footer__dark li{display: inline-block; margin-right: 8px; padding-left: 12px; background: url("../icons/bullet_marron.png") 0 50% no-repeat; vertical-align: middle;}

.sidebar--footer__dark .display-table-cell.align_right{padding-top: 6px;}

.redes_footer a{
    color: #9d684f;width: 32px; height: 32px; border: 1px solid #9d684f;text-align: center;line-height: 33px; margin-left: 8px; font-size: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
    -ms-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.redes_footer a:hover{color: #ff691f; border-color: #ff691f;}


/* SECTIONS */

.article__header.article__header--page {
    position:relative;
    background:#fff;
    overflow:hidden;
}

.article__header.article__header--page.full-height {
    height:105%;
}
.article__header.article__header--page.half-height {
    height:50%;
}
.article__header.article__header--page.two-thirds-height {
    height:66%;
}

.article__parallax {
    position:absolute;
    top:-100%;
    right:0;
    bottom:-100%;
    left:0;
    background-attachment:fixed;
    background-position:50% 50%;
}
.lt-ie9 .article__parallax,.ie9 .article__parallax,.touch .article__parallax {
    width:100%!important;
    height:100%!important;
    top:0!important;
    bottom:auto!important;
    left:0!important;
    -webkit-transform:none;
    -moz-transform:none;
    -ms-transform:none;
    -o-transform:none;
    transform:none;
}
.article__parallax--img img {
    position:absolute;
    top:50%;
    left:50%;
    opacity:0;
    max-width:none;
    -webkit-transform:translate3d(-50%,-50%,0);
    -moz-transform:translate3d(-50%,-50%,0);
    -ms-transform:translate3d(-50%,-50%,0);
    -o-transform:translate3d(-50%,-50%,0);
    transform:translate3d(-50%,-50%,0);
}
.lt-ie9 .article__parallax--img img,.ie9 .article__parallax--img img {
    width:100%!important;
    top:0!important;
    left:0!important;
    -webkit-transform:none;
    -moz-transform:none;
    -ms-transform:none;
    -o-transform:none;
    transform:none;
}
.touch .article__parallax--img img {
    top:0;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);
}
.article__header .article__headline {
    position:relative;
    display:inline-block;
    margin-bottom:0;
    text-align:center;
}

.pattern{position: absolute; left: 0; top: 0; background: url("../icons/pattern.png") 0 0 repeat; z-index: 1;}
.cover_pattern{position: relative; z-index: 2;}
.article__headline{}
.article__headline h2, .article__headline h3{opacity: 0;}

/* SECTION 1 */

.pattern_gris_light{background: #f6f6f6 url("../icons/pattern_gris_light.png") 0 0 repeat;}
.w_section_1{height: 100% !important; top: 0 !important;}
.w_banner_section_1 {position: relative;}
.w_banner_section_1 .w_btn_circle{position: absolute; height: 50px; left: 50%; width: 1360px; margin-left: -680px; top: 50%; margin-top: -25px; z-index: 999;}
.w_banner_section_1 .btn_square{margin-top: 150px;}
.w_banner_section_1 .btn_circle{position: absolute; top: 0;}
.w_banner_section_1 .btn_circle#btn_prev{left: 0px; }
.w_banner_section_1 .btn_circle#btn_next{right: 0px;}
.w_banner_section_1 .owl-carousel .owl-wrapper-outer{height: 100%; position: relative;}
.w_banner_section_1 .owl-carousel .owl-wrapper, .w_banner_section_1 .owl-carousel .owl-item{height: 100%; z-index: 1;}
.w_banner_section_1 .owl-carousel .owl-stage-outer, .w_banner_section_1 .owl-carousel .owl-stage{height: 100%}

.title_section_1{
    font-family: "Conv_Wolf"; color: #fff; font-size: 170px; text-shadow: -3px 0 0 #f26722; margin-bottom: 85px; line-height: 0.6;
}
.parrafos{
    font-family: "Conv_HelveticaNeueLTStd-LtCn"; font-size: 25px; color: #fff; font-weight: 100; letter-spacing: 1px !important;
}
.parrafos span{margin: 0 20px;}

/* SECTION 2 */

.section h2, .section .h2{color: #ff691f;  font-family: "Conv_Wolf"; font-size: 140px; line-height: 0.6; margin-bottom: 45px;}

.w_width_50{width: 100%;}
.width_45{width: 45%; vertical-align: top;}
.width_55{width: 55%; vertical-align: top;}
.textos{padding-left: 50px;}
.w_img{border: 1px solid #f26722; padding: 8px; width: 100%;}
.w_img img{width: 100%; display: block;}

.section_2  .article__content {padding-bottom: 0;}
.section  .btn_cross_down{position: relative; bottom: -25px; z-index: 2;}

.section .owl-controls{margin-top: 30px;}
.section .owl-dots{font-size: 0; text-align: center; width: 100%;}
.section .owl-dot{width: 16px; height: 16px; background-color: #e1e1e1; box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2); display: inline-block; margin: 0 6px;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
                  -moz-transition: background-color 0.3s ease, color 0.3s ease;
                  -o-transition: background-color 0.3s ease, color 0.3s ease;
                  -ms-transition: background-color 0.3s ease, color 0.3s ease;
                  transition: background-color 0.3s ease, color 0.3s ease;
}
.section .owl-dot:hover, .section .owl-dot.active{background-color: #ff691f;  box-shadow: inset 2px 0px 2px rgba(0,0,0,0.2); 
                                                  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
                                                  -moz-transition: background-color 0.3s ease, color 0.3s ease;
                                                  -o-transition: background-color 0.3s ease, color 0.3s ease;
                                                  -ms-transition: background-color 0.3s ease, color 0.3s ease;
                                                  transition: background-color 0.3s ease, color 0.3s ease;
}
.section_2_info{border-top: 1px solid #f26722; border-bottom: 1px solid #f26722;  padding-top: 22px; position: relative; margin-top: 35px; padding-left: 80px; padding-right: 80px; text-align: center;
                margin-bottom: 150px;
}
.section_2_info p{font-size: 27px;}
.section_2_info a.btn_square{position: relative; bottom: -25px;}
.section_2_info.responsivo{display: none;}

/* SECTION 3 */

.section_3_bloques{padding-left: 60px; padding-right: 60px; max-width: 1404px; margin: 0 auto; position: relative;}
.section_3_bloques a.btn_circle{position: absolute; top: 50%; margin-top: -25px; z-index: 3;}
.section_3_bloques a.btn_circle#btn_3_prev{left: 0;}
.section_3_bloques a.btn_circle#btn_3_next{right: 0;}

.section_3_bloques .itm{margin: 0 20px; max-width: 388px;}
.section_3_bloques .itm .ico{}
.section_3_bloques .itm .ico img{display: block; width: 100%;}
.section_3_bloques .itm .txt{padding: 25px 32px 29px; background-color: #fff;}
.section_3_bloques .itm .txt h3{color: #ff691f;  font-family: "Conv_Wolf"; font-size: 70px; line-height: 0.6; margin-bottom: 15px;
                                white-space: nowrap;  text-overflow: ellipsis;
}
.section_3_bloques .itm .txt a.btn_square{margin-top: 40px; }
.linea{display: inline-block; width: 44px; height: 2px; background-color: #f26722; margin-bottom: 12px;}


/* SECTION 4 */

.section_3_bloques a.btn_circle#btn_4_prev{left: 0;}
.section_3_bloques a.btn_circle#btn_4_next{right: 0;}
.section_4 .section_3_bloques a.btn_circle{margin-top: -100px;}
.section_4 .section_3_bloques .itm .ico{ margin-bottom: 10px; position: relative; display: block;}
.section_4 .section_3_bloques .itm .ico .cover{opacity: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(255, 135, 46, 0.56); overflow: hidden;
                                               -webkit-transition: opacity 0.3s ease;
                                               -moz-transition: opacity 0.3s ease;
                                               -o-transition: opacity 0.3s ease;
                                               -ms-transition: opacity 0.3s ease;
                                               transition: opacity 0.3s ease;
}
.section_4 .section_3_bloques .itm .ico .cover .inn{padding-top: 100%; width: 148px; height: 148px; background-color: #fff;
                                                    -webkit-transition: padding-top 0.3s ease;
                                                    -moz-transition: padding-top 0.3s ease;
                                                    -o-transition: padding-top 0.3s ease;
                                                    -ms-transition: padding-top 0.3s ease;
                                                    transition: padding-top 0.3s ease;
}
.section_4 .section_3_bloques .itm .ico .cover:hover{opacity: 1;}
.section_4 .section_3_bloques .itm .ico .cover:hover .inn{padding-top: 0;}


.section_4 .section_3_bloques .itm .ico .cover .inn .icono_plus{width: 56px; height: 56px; position: relative;}
.section_4 .section_3_bloques .itm .ico .cover .inn .icono_plus div{background-color: #f26722; position: absolute;}
.section_4 .section_3_bloques .itm .ico .cover .inn .icono_plus div.vertical{width: 2px; height: 100%; left: 50%; top: 0; margin-left: -1px;}
.section_4 .section_3_bloques .itm .ico .cover .inn .icono_plus div.horizontal{width: 100%; height: 2px; top: 50%; left: 0; margin-top: -1px;}
.section_4 .section_3_bloques .itm .txt{ background-color: transparent;}
.section_4 .section_3_bloques .itm .txt h3{color: #121012;  font-family: "Conv_HelveticaNeueLTStd-LtCn"; font-size: 23px;
                                           white-space: nowrap;  text-overflow: ellipsis;}
.section ul.list_ico{font-size: 0; }
.section ul.list_ico li{display: inline-block; list-style-position: outside; background: url("../icons/bullet_orange.png") 0 50% no-repeat; padding-left: 9px; margin-right: 6px;}
.section ul li.first{background: none;}


/* SECTION 6 */

.section_6 .section_3_bloques .itm .txt{padding-left: 0; padding-right: 0; padding-bottom: 0;}
.section_3_bloques a.btn_circle#btn_6_prev{left: 0;}
.section_3_bloques a.btn_circle#btn_6_next{right: 0;}

/* SECTION 7 */

.btn--top{position: static;}

.section_7 h3{color: #684534;  font-family: "Conv_HelveticaNeueLTStd-LtCn"; font-size: 23px;}
.section_7 .article__content {padding-bottom: 0;}
.section_7 h3 {width: 100%;}
.section_7 h3 span{margin:  0 20px; }
.container_form{max-width: 1220px;}

.w_form{padding: 50px 0 0;}
.w_form .row{width: 33.33%; padding: 0 16px; position: relative;}
.w_form .row_2w{width: 66.67%; padding: 0 16px;}
.w_form .row, .w_form .row_2w{margin-bottom: 45px;}
.input, .textarea{display: block; border: none; width: 100%; height: 56px; line-height: 26px; color: #ff691f; padding: 15px 18px; background: #fff; 
                  box-shadow: inset 2px 3px 0 #e4e3e4;
                  border-left: 1px solid #e4e3e4;
                  border-top: 1px solid #e4e3e4;
                  border-right: 1px solid #fff;
                  border-bottom: 1px solid #fff;
                  font: 21px/1em "HelveticaNeueLTStd-ThCn";      
                  -webkit-border-radius: 5px;
                  -moz-border-radius: 5px;
                  border-radius: 5px;
                  -webkit-transition: border-color 0.3s ease;
                  -moz-transition: border-color 0.3s ease;
                  -o-transition: border-color 0.3s ease;
                  -ms-transition: border-color 0.3s ease;
                  transition: border-color 0.3s ease;
}
.textarea{max-height: 120px; height: 120px; line-height: 1.25; overflow: auto; resize: none;}
.input.error, .textarea.error{border-color: #f26722;}
label.error{font: 19px/1em "HelveticaNeueLTStd-ThCn"; color: #543323; position: absolute; left: 16px; bottom: -30px; padding-left: 24px; background: url("../icons/ico_message.png") 0 50% no-repeat;}

.select { 
    background-image: url("../icons/ico_select.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-position: 100% 50% ;
    background-repeat: no-repeat;
    webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    text-indent: .01px;
    text-overflow: '';
    -moz-appearance: none; 
}
option{background-color: #825222;}
.ie9 option{background-color: transparent;}

.select::-ms-expand {
    display: none;
}

.copyright {width: 200px;}

/* RESPONSIVE */

@media only screen and (max-width: 1450px) {
    .section_3_bloques a.btn_circle#btn_3_prev{left: 10px;}
    .section_3_bloques a.btn_circle#btn_3_next{right: 10px;}
}
@media only screen and (max-width: 1390px) {
    .container{padding-left: 15px; padding-right: 15px;}
    .w_banner_section_1 .w_btn_circle{position: static;}
    .w_banner_section_1 .w_btn_circle .btn_circle{top: 50%; margin-top: -25px; z-index: 99;}
    .w_banner_section_1 .btn_circle#btn_prev{left: 15px; }
    .w_banner_section_1 .btn_circle#btn_next{right: 15px;}
    .section_3_bloques .itm{max-width: 380px; margin: 0 10px;}

}
@media only screen and (max-width: 1290px) {
    .section_3_bloques .itm{max-width: 350px;}
    .section_3_bloques .itm .txt{padding-left: 20px; padding-right: 20px;}
    .section_3_bloques .itm .txt a.btn_square{padding-left: 12px; padding-right: 12px; width: 100%;}
    .section_3_bloques .itm .txt{padding-top: 20px; padding-bottom: 20px;}
    .section_3_bloques .itm .txt h3{font-size: 60px;}
}
@media only screen and (max-width: 1260px) {
    .nav li a{padding-left: 15px; padding-right: 10px;}
    .redes_sociales a{margin-left: 10px;}
}
@media only screen and (max-width: 1240px) {
    .section_3_bloques .itm{max-width: 330px;}


}
@media only screen and (max-width: 1130px) {
    .nav li a{font-size: 17px;}
}
@media only screen and (max-width: 1060px) {
    .nav li a{font-size: 15px;}
    .header_1 h2{font-size: 120px; margin-bottom: 50px}

    .section h2, .section .h2{font-size: 90px;}

    .width_45{padding-left: 20px;}
    .section_2_info.responsivo{display: inline-block; width: 100%;}
    .section_2_info.normal{display: none;}

}

.link_menu_responsivo{display: none;}
.link_menu_responsivo .icon-cancel{display: none;}

@media only screen and (max-width: 1024px) {

    .page .article__content {padding-top: 120px;}

    .site-header{top: 20px; height: 75px;}
    .site-header .container{height: 100%;}
    .site-logo.using-retina-logo img{max-width: 100%; width: 120px;}
    .site-title{ top: -10px; width: 100px; left: 10px;}
    .link_menu_responsivo{display: inline-block;}
    .navigation{position: absolute; left: -100%; top: 100%; width: 100%;
                -webkit-transition: left 0.3s ease;
                -moz-transition: left 0.3s ease;
                -o-transition: left 0.3s ease;
                -ms-transition: left 0.3s ease;
                transition: left 0.3s ease;
    }
    .navigation.active{left: 0;}
    .navigation .nav{display: block; width: 100%; height: auto; background-color: #fff; border-top: 1px solid #f26722;}
    .navigation .nav li{display: block; width: 100%;}
    .navigation .nav li a{display: block; width: 100%; height: auto; border-bottom: 1px solid #feeae0; padding: 12px 0;
                          -webkit-transition: background-color 0.3s ease, color 0.3s ease;
                          -moz-transition: background-color 0.3s ease, color 0.3s ease;
                          -o-transition: background-color 0.3s ease, color 0.3s ease;
                          -ms-transition: background-color 0.3s ease, color 0.3s ease;
                          transition: background-color 0.3s ease, color 0.3s ease;
    }
    .navigation .nav li a:hover, .navigation .nav li a:active{box-shadow: none; background-color: #f26722; color: #fff;}
    .navigation .nav li a br{display: none !important;}
    .navigation .nav li a .tri{display: none !important;}
    .redes_sociales{background-color: #fff; width: 100%; padding: 12px 0; text-align: center;}

    .section_3_bloques {max-width: 816px;}
    .section_3_bloques .itm{ max-width: 388px;}

    .section_7 h3 span{margin:  0 5px; font-size: 19x;}

    .w_form .row{width: 50%; padding: 8px; padding-right: 8px;}
    .w_form .row_2w{width: 100%; padding: 8px; padding-right: 8px; position: relative;}
    label.error{left: 8px;}
}
@media only screen and (max-width: 828px) {
    .section_3_bloques {max-width: 508px;}
    .section_3_bloques .itm{ margin-left: 0; margin-right: 0;}

}
@media only screen and (max-width: 767px) {
    
    .parrafos span{margin: 0 0; width: 100%; margin-bottom: 5px; text-align: center;}
    
    .header_1 h2{font-size: 90px; margin-bottom: 30px}
    .header_1 h3{width: 100%; }
    .header_1 h3 span{vertical-align: top; font-size: 19px}
    .w_banner_section_1 .btn_square{margin-top: 50px;}

    .width_45{width: 100%;}
    .width_55{width: 100%;}
    .section_2_info{padding-left: 20px; padding-right: 20px;}
    
    .section_7 h3 span{margin:  0 0; width: 100%; text-align: center; margin-bottom: 5px; }

    .w_form .row{width: 100%; padding: 0; padding-right: 0;}
    .w_form .row_2w{ padding: 0; padding-right: 0;}
    label.error{left: 0;}

    .sidebar--footer .display-table, .sidebar--footer .display-table-cell{display: block; width: 100%;} 
    .sidebar--footer__dark li{width: 100%; display: block; background: none;}

    .nav_footer{width: 100%; display: block;text-align: center; margin-bottom: 15px;}
    .nav_footer li{width: 100%; display: block;text-align: center; margin: 0; padding: 0;}
    .nav_footer li a{width: 100%; display: block; text-align: center; padding: 10px 0; border-bottom: 1px solid #764225; margin-bottom: 0;}

    .redes_footer{text-align: center; width: 100%; border-bottom: 1px solid #764225; padding-bottom: 8px; margin-bottom: 15px}

    .copyright p{text-align: center; width: 100%;}
}
@media only screen and (max-width:518px) {
    .section_3_bloques {max-width: 100%; padding-left: 15px; padding-right: 15px;}
    .section_3_bloques .itm{ max-width: 100%; width: 100%;}
    .section_3_bloques a.btn_circle#btn_3_prev{left: 5px;}
    .section_3_bloques a.btn_circle#btn_3_next{right: 5px;}

}

/* 2X */

@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) {
    label.error{background: url("../icons/ico_message2x.png") 0 50% no-repeat; background-size: 18px auto;}
}