@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-jmry5a');
	src:url('fonts/icomoon.eot?#iefix-jmry5a') format('embedded-opentype'),
		url('fonts/icomoon.woff?-jmry5a') format('woff'),
		url('fonts/icomoon.ttf?-jmry5a') format('truetype'),
		url('fonts/icomoon.svg?-jmry5a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-carita:before {
	content: "\e60f";
}
.icon-paquete:before {
	content: "\e610";
}
.icon-tarjeta:before {
	content: "\e611";
}
.icon-arrow_left:before {
	content: "\e60b";
}
.icon-arrow_right:before {
	content: "\e60c";
}
.icon-manya:before {
	content: "\e60a";
}
.icon-uniE60E:before {
	content: "\e60e";
}
.icon-phone:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-youtube:before {
	content: "\e602";
}
.icon-mobile:before {
	content: "\e605";
}
.icon-close:before {
	content: "\e60d";
}
.icon-mail:before {
	content: "\e604";
}
.icon-trash:before {
	content: "\e612";
}
.icon-arrow-left:before {
	content: "\e606";
}
.icon-arrow-down:before {
	content: "\e607";
}
.icon-arrow-up:before {
	content: "\e608";
}
.icon-arrow-right:before {
	content: "\e609";
}
.icon-close2:before {
	content: "\e613";
}
